@charset "UTF-8";
/* CSS Document */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: darkgrey;
    flex-flow: row wrap;
    justify-content: space-between;
}
header > h1{
    /*border: 1px dotted black;*/
    color: white;
    flex: 0 0 200px;
    text-shadow: 1px 1px 2px black;
}

p{
    margin: 10px 0;
    line-height: 1.5;
    color: #333;
    font-size: 1.2em;
    text-align: justify;
}
nav{
    /*border: 1px dotted black;*/
    display: flex;
    margin-top: 10px;
    
}
a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    margin: 2px;
}
a:hover{
    background-color: grey;
    transition: background-color 0.3s;
}
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
}
main{
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;

    max-width: 800px;
    margin: auto;
}