@charset "UTF-8";
/* CSS Document */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: Arial, sans-serif;
    color: white;
    background-color: darkgrey;
    height: 100px;
    flex-flow: row wrap;
    justify-content: space-between;
}
header > h1{
    border: 1px dotted black;
    color: white;
    flex: 0 0 200px;
}
nav{
    
    margin-top: 10px;
    display: flex;
}
a{
    text-decoration: none;
    color: white;
    background-color: black;
    border-radius: 5px;
    padding: 8px;
    text-align: center;
    margin: 2px;
}
a:hover{
    background-color: grey;
    transition: background-color 0.3s;
}
body{
    background-color: lightgrey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    height: 100vh;
    width: 100vw;
}
main{
    background-color: white;
    border: 1px solid darkgrey;
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}